
.red { 
    background-color: #D62311,
    ;
} 

.white { 
    background-color: #FFFFFF;
} 
.khaki { 
    background-color: #F7F0E4;
} 
.darkGray { 
    background-color: #313131;
} 
.gray {
    background-color: #403C3C;
}
.light-gray {
        background-color: #E4E4E4;
}
.dark-khaki {
   background-color: #EDE7DD;
}
background-color: #f7f0e4